<div class="container">
  <section class="section section-about item-animated">
    <div class="row">
        <div class="col-md-6">
          <div class="section-heading">
            <h3>The best service in</h3>
            <h1 class="sub-text">Airport Baggage Systems</h1>
          </div>
          <div class="section-content">
            <p class="quoted-text">
              Leverage agile frameworks to provide a robust synopsis for high level overviews.
            </p>
            <p>
              Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="/images/hero-image-sm.jpg" alt="Placeholder Image">
        </div>
    </div>
  </section>
</div>
