<div class="container">
  {% for section in site.data.sections %}
  <section id="{{section.linkName}}" class="section {{section.class}}">
    <div class="row">

        {% if section.img_float == 'left' %}
        <div class="col-xs-12 col-md-6 item-animated">
          <img class="img-responsive" src="/images/{{section.img}}" alt="Placeholder Image">
        </div>
        <div class="col-xs-12 col-md-6 item-animated item-content">
          <div class="section-heading">
            {% for title in section.title %}
             <h3>{{title.sm_title}}</h3>
            {% endfor %}
            {% for title in section.title %}
              <h1 class="sub-text">{{title.big_title}}</h1>
            {% endfor %}
          </div>
          <hr />
          <p>
            {{section.paragraph}}
          </p>
        </div>
        {% else %}
        <div class="col-xs-12 col-md-6 item-animated item-content">
          <div class="section-heading">
            {% for title in section.title %}
             <h3>{{title.sm_title}}</h3>
            {% endfor %}
            {% for title in section.title %}
              <h1 class="sub-text">{{title.big_title}}</h1>
            {% endfor %}
          </div>
          <hr />
          <p>
            {{section.paragraph}}
          </p>
        </div>
        <div class="col-xs-12 col-md-6 item-animated">
          <img class="img-responsive" src="/images/{{section.img}}" alt="Placeholder Image">
        </div>
        {% endif %}

    </div>
  </section>
  {% endfor %}
</div>
