body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img {
  width: 100%;
}

// HEADER
.site-header {
  margin-top: 10px;
}
// FOOTER
.site-footer {
  height: 100px;
  color: white;
  background-color: #34495e;
}
