.section {
  padding: 50px 0;
}

/* section-hero.html */
.section-hero {
  height: 90vh;
  width: 100%;
  .section-content {
    padding-top: 10%
  }
}

/* section-one.html */

/* section-two.html */

/* section-three.html */

/* section-four.html */

/* section-contact.html */
