nav.navigation-module {
  background-color: white;
  a.navbar-brand > img {
    width: 3.5em;
  }
  ul.navbar-nav {
    a.btn-primary {
      color: white;
      &:hover {
        background-color: lighten($lime-color, 10);
      }
    }
  }
}
