<nav class="navbar navbar-default navbar-fixed-top navigation-module">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="assets/images/kelly-brand.png" alt="{{site.title}}" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% assign sorted_services = site.categories.services | sort:"order" %}
          {% for service in sorted_services %}
            <li><a href="#{{ service.sub-title | downcase }}">{{ service.sub-title }}</a></li>
          {% endfor %}
          <li><a class="btn btn-primary" href="#contact-form">Contact</a></li>
        </ul>
      </div>
    </div><!-- .container -->
  </div><!-- .container-fluid -->
</nav> <!-- .navigation-module -->
