<div class="row section-header">
  <div class="col-xs-12">
    <h2>Section header</h2>
    <p>Accompanying sentence.</p>
  </div>
</div>

<div class="row">
  {% for service in site.data.services %}
  <div class="col-md-4 service-block">
      <div class="service-block-header">
        <span class="glyphicon glyphicon-ok-sign service-icon" aria-hidden="true"></span><span class="service-title">{{ service.title }}</span>
      </div>
      <div class="service-block-content">
        <p>
          {{ service.blurb }}
        </p>
      </div>
  </div>
  {% endfor %}
</div>
