<div id="about-section" class="container service-module">
  <div class="row">
    {% for section in site.categories.about %}
    <div class="col-xs-12 service-container">
      <div class="col-xs-12 col-md-6 service-content">
          <p class="section-subheader">{{ section.sub-header }}</p>
          <h2 class="section-header">{{ section.header }}</h2>
          {{ section.content }}
      </div>
      <div class="col-xs-12 col-md-6">
        <img class="float-right shadow hidden-xs" src="{{ "assets/images/airport-terminal.jpg" | prepend: site.baseurl }}" alt="">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
